@import views.html.elements.{inputText, checkbox, select}
@import play.api.i18n.Messages
@import org.ada.server.models.ml.unsupervised.BisectingKMeans

@(form: Form[BisectingKMeans])(implicit msg: Messages)

<input type="hidden" id="concreteClass" name="concreteClass" value="@{classOf[BisectingKMeans].getName}">

@inputText("kMeans", "name", form)

<hr/>

@inputText("kMeans", "k", form)
@inputText("kMeans", "maxIteration", form)
@inputText("kMeans", "seed", form)
@inputText("kMeans", "minDivisibleClusterSize", form)