@import views.html.layout.main
@import views.html.chart.highcharts.highchartsJsImport
@import views.html.elements._
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import views.html.mlRun._
@import views.html.mlRun.{create => mlRunCreate}
@import views.html.classificationrun.samplingTable
@import views.html.elements.{fieldTypeahead, typeahead}
@import play.api.i18n.Messages
@import org.ada.server.models.{DataSpaceMetaInfo, FieldTypeId, FilterShowFieldStyle}
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.incal.spark_ml.models.VectorScalerType
@import org.incal.spark_ml.models.classification.ClassificationEvalMetric
@import org.ada.web.controllers.ml.routes
@import org.ada.server.models.DataSetSetting

@(
    displayName: String,
    setting: DataSetSetting,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@bottomResources = {

    @helper.javascriptRouter("classificationRunJsRoutes")(
        temporalClassificationRunJsRouter.launch
    )

    <script type="text/javascript">
        $(function () {
            populateCategoricalTypeahead('outputField');

            populateFullTypeahead('groupIdField');

            populateCustomFieldTypeaheadFromUrl(
                'orderField',
                '@Html(dataSetRouter.fieldNamesAndLabels(Seq(FieldTypeId.Integer, FieldTypeId.Date, FieldTypeId.Enum, FieldTypeId.String)).url)'
            )

            populateIdLabelTypeaheadFromUrl(
                'mlModel',
                '@Html(routes.ClassifierController.idAndNames.url)'
            );

            $('#launchButton').on('click', launch)
        });

        function launch() {
            // IO
            $('#inputFieldNameDiv').dynamicTable('updateModelFromTable');
            var inputFieldNames = $("#inputFieldNameDiv").dynamicTable('getModel')

            var outputFieldName = $("#outputFieldName").val();
            var outputFieldLabel = $("#outputFieldTypeahead").val();

            var groupIdFieldName = $("#groupIdFieldName").val();
            var orderFieldName = $("#orderFieldName").val();

            var orderedStringValues = $("#orderedStringValues").val();
            if (!orderedStringValues) {
                orderedStringValues = [];
            } else {
                orderedStringValues = orderedStringValues.split(",").map(function(item) { return item.trim(); })
            }

            var filterId = ($('#filterNameTypeahead').val()) ? $("#filterId").val() : null
            var filterIdJson = (filterId) ? {'$oid': filterId} : null

            var replicationFilterId = ($('#replicationFilterNameTypeahead').val()) ? $("#replicationFilterId").val() : null
            var replicationFilterIdJson = (replicationFilterId) ? {'$oid': replicationFilterId} : null

            const ioSpec = {
                "inputFieldNames": inputFieldNames,
                "outputFieldName": outputFieldName,
                "groupIdFieldName": groupIdFieldName,
                "orderFieldName": orderFieldName,
                "orderedStringValues": orderedStringValues,
                "filterId": filterIdJson,
                "replicationFilterId": replicationFilterIdJson
            }

            // Classifier (ML Model)

            var mlModelId = $("#mlModelId").val();
            var mlModelIdJson = (mlModelId) ? {'$oid': mlModelId} : null
            var mlModelName = $("#mlModelTypeahead").val();

            // Core Learning Setting

            var featuresNormalizationType = $("#featuresNormalizationType").val()
            if (!featuresNormalizationType)
                featuresNormalizationType = null
            var featuresSelectionNum = $("#featuresSelectionNum").val()
            var pcaDims = $("#pcaDims").val()
            var trainingTestSplitRatio = $("#trainingTestSplitRatio").val()
            $('#samplingRatioDiv').dynamicTable('updateModelFromTable');
            var samplingJsons = $("#samplingRatioDiv").dynamicTable('getModel')
            var samplingTuples = samplingJsons.map(function (item) {
                var json = JSON.parse(item)
                return [json.outputValue, parseFloat(json.samplingRatio)]
            })
            var repetitions = $("#repetitions").val()
            var crossValidationFolds = $("#crossValidationFolds").val()
            var crossValidationEvalMetric = $("#crossValidationEvalMetric").val()
            if (!crossValidationEvalMetric)
                crossValidationEvalMetric = null
            var binCurvesNumBins = $("#binCurvesNumBins").val()

            const core = {
                "featuresNormalizationType": featuresNormalizationType,
                "featuresSelectionNum": intValue(featuresSelectionNum),
                "pcaDims": intValue(pcaDims),
                "trainingTestSplitRatio": floatValue(trainingTestSplitRatio),
                "samplingRatios": samplingTuples,
                "repetitions": intValue(repetitions),
                "crossValidationFolds": intValue(crossValidationFolds),
                "crossValidationEvalMetric": crossValidationEvalMetric,
                "binCurvesNumBins": intValue(binCurvesNumBins),
                "collectOutputs": false
            }

            // Temporal Learning Setting

            var predictAhead = $("#predictAhead").val()
            var slidingWindowSize = $("#slidingWindowSize").val()
            var minCrossValidationTrainingSizeRatio = $("#minCrossValidationTrainingSizeRatio").val()
            var trainingTestSplitOrderValue = $("#trainingTestSplitOrderValue").val()

            const learningSetting = {
                "core": core,
                "predictAhead": intValue(predictAhead),
                "slidingWindowSize": intOrSeqValue(slidingWindowSize),
                "minCrossValidationTrainingSizeRatio": floatValue(minCrossValidationTrainingSizeRatio),
                "trainingTestSplitOrderValue": intValue(trainingTestSplitOrderValue)
            }

            // Save Options

            var saveResults = $("#saveResults").is(":checked")
            var saveBinCurves = $("#saveBinCurves").is(":checked")

            const runSpec = {
                "ioSpec": ioSpec,
                "mlModelId": mlModelIdJson,
                "learningSetting": learningSetting
            };

            const runSpecJSON = JSON.stringify(runSpec);

            $('#outputDiv').html("");
            $("#binCurvesPanelDiv").html("");

            if (!mlModelId) {
                showError("Temporal classification cannot be launched. No model selected.");
                return
            }

            if (!outputFieldName) {
                showError("Temporal classification cannot be launched. No output field selected.");
                return
            }

            if (inputFieldNames.length == 0) {
                showError("Temporal classification cannot be launched. No input fields selected.");
                return
            }

            if (!groupIdFieldName) {
                showError("Temporal classification cannot be launched. No group id field selected.");
                return
            }

            if (!orderFieldName) {
                showError("Temporal classification cannot be launched. No order field selected.");
                return
            }

            if (!predictAhead) {
                showError("Temporal classification cannot be launched. 'Predict ahead' is unspecified.");
                return
            }

            if (!slidingWindowSize) {
                showError("Temporal classification cannot be launched. 'Sliding window size' is unspecified.");
                return
            }

            if (!trainingTestSplitRatio && !trainingTestSplitOrderValue) {
                showError("Temporal classification cannot be launched. 'Training-test split ratio' or 'training-test split order value' must be specified.");
                return
            }

            classificationRunJsRoutes.org.ada.web.controllers.dataset.TemporalClassificationRunDispatcher.launch(runSpecJSON, saveResults, saveBinCurves).ajax({
                success: function (data) {
                    showMessage("'" + mlModelName + "' temporal classification finished.")
                    showMLOutput(data.results)

                    if (data.trainingCurves.length > 0) {
                        var columnWidth = (data.replicationCurves.length > 0) ? 4 : 6

                        addBinCurves("Training", data.trainingCurves, columnWidth)
                        addBinCurves("Test", data.testCurves, columnWidth)

                        if (data.replicationCurves.length > 0)
                            addBinCurves("Replication", data.replicationCurves, columnWidth)
                    }
                },
                error: function (data) {
                    $("#outputDiv").html("")
                    hideMessages();
                    showErrorResponse(data);
                }
            });

            showMessage("Temporal classification for the field '" + outputFieldLabel + "' using the ML model '" + mlModelName + "' launched.")
            addSpinner($("#outputDiv"))

        }

        function addBinCurves(name, binCurves, columnWidth) {
            var header ="<h4 align='center'><b>" + name + "</b></h4><hr/>"

            var div = $("<div class='col-md-" + columnWidth + "'>")
            var row = $("<div class='row'>")
            $.each(binCurves, function (i, widget) {
                row.append(widgetDiv(widget))
            })
            div.append(header)
            div.append(row)
            $("#binCurvesPanelDiv").append(div)

            $.each(binCurves, function (i, widget) {
                genericWidget(widget)
            })
        }

    </script>
}

@labelValueAux(key: String, label: Any)(valueElement : Any) = @{
    labelValue(key, label, false, None, 4)(valueElement)
}

@firstColumn = {
    @labelValueAux("mlModel", "ML Model") {
        @typeahead("mlModelTypeahead", "mlModelId", "", true)
    }

    @labelValueAux("outputField", "Output Field") {
        @fieldTypeahead(None, "outputField", "Field Name", true)
    }

    @inputFieldTable()

    @labelValueAux("groupIdField", "Group Id Field") {
        @fieldTypeahead(None, "groupIdField", "Field Name", true)
    }

    @labelValueAux("orderField", "Order Field") {
        @fieldTypeahead(None, "orderField", "Field Name", true)
    }

    @textField("orderedStringValues", "Ordered String Values")

    @labelValueAux("filterId", "Input Data") {
        @typeahead("filterNameTypeahead", "filterId", "Filter", true)
    }

    <hr/>

    @textField("predictAhead", "Predict Ahead", None, Some("1"))

    @textField("slidingWindowSize", "Sliding Window Size", None, Some("2"))

    @enumField("featuresNormalizationType", "Feature Normalization", VectorScalerType)

    @textField("featuresSelectionNum", "Feature Selection  Num", Some("1 to number of features"))

    @textField("pcaDims", "PCA Dims", Some("1 to number of features"))
}

@secondColumn = {
    @trainingSettingFields()

    @textField("trainingTestSplitOrderValue", "Training-Test Split Order Value")

    @enumField("crossValidationEvalMetric", "Cross Validation Eval Metric", ClassificationEvalMetric)

    @textField("minCrossValidationTrainingSizeRatio", "Min Cross Validation Training Size Ratio")

    @labelValueAux("replicationFilterId", "Replication Data") {
        @typeahead("replicationFilterNameTypeahead", "replicationFilterId", "Filter", true)
    }

    @labelValueAux("samplings", "Samplings"){
        @samplingTable(Nil)
    }

    <hr/>

    @textField("binCurvesNumBins", "Binary Classif. Curves Bins")

    @labelValueAux("saveResults", "Save Results?") {
        <input id="saveResults" type="checkbox"/>
    }

    @labelValueAux("saveBinCurves", "Save (Bin) Curves?") {
        <input id="saveBinCurves" type="checkbox"/>
    }
}

@extraOutput = {
    <div id="binCurvesPanelDiv" class="row vertical-divider">
    </div>
}

@mlRunCreate(
    Messages("temporalClassification.title", displayName),
    setting,
    dataSpaceMetaInfos,
    firstColumn,
    secondColumn,
    bottomResources,
    Some(extraOutput)
)