@(
    items: Traversable[_],
    columns: Traversable[(Option[String], String, Any => Html)],
    header: Option[(Option[String], String) => Html] = None,
    rowClickCall: Option[Any => Call] = None,
    hiddenRowId: Option[(String, Any => String)] = None,
	tableId: Option[String] = None
)

@defaultHeader(fieldName: Option[String], fieldLabel: String) = {
	<th class="col header">
	    @fieldLabel
	</th>
}

<table @if(tableId.isDefined) {id="@tableId.get"} class="table table-striped">
	<thead>
		<tr>
            @columns.map { case (fieldName, fieldLabel, _) =>
                @header.getOrElse(defaultHeader(_, _))(fieldName, fieldLabel)
            }
		</tr>
	</thead>
	<tbody>
    	@items.map { item =>
	    	<tr class='@if(rowClickCall.isDefined) {clickable-row}' data-href='@if(rowClickCall.isDefined){@rowClickCall.get(item)}'>
                @if(hiddenRowId.isDefined) {
                    <input type="hidden" id="@hiddenRowId.get._1" name="@hiddenRowId.get._1" value="@hiddenRowId.get._2(item)"/>
                }
		    	@columns.map { case (fieldName, _, content) =>
                    <td @if(fieldName.isDefined) {id="@fieldName.get"}>
                        @content(item)
                    </td>
                }
		    </tr>
	    }
	</tbody>
</table>
