@import org.ada.web.controllers.dataset.{DataSetWebContext, DataViewRouter}
@import org.ada.server.models.DataSpaceMetaInfo
@import org.ada.server.models.DataView
@import org.ada.server.models.Field
@import org.ada.server.models.FilterShowFieldStyle
@import reactivemongo.bson.BSONObjectID
@import views.html.dataview.edit
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import org.ada.server.models.DataSetSetting

@(
    domainName: String,
    id : BSONObjectID,
    form: Form[DataView],
    nameFieldMap: Map[String,  Field],
    idFilterNameMap: Map[BSONObjectID, String],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo],
    dataSetSetting: DataSetSetting
)(
    implicit context: DataSetWebContext
)

@edit(
    domainName,
    id,
    form,
    nameFieldMap,
    idFilterNameMap,
    dataSpaceMetaInfos,
    dataSetSetting,
    dataViewRouter.update
)