@import views.html.layout.jsonShow
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import org.ada.web.controllers.dataset.DataSetWebContext._
@import org.ada.web.controllers.dataset.DataSetWebContext
@import org.incal.spark_ml.models.result.RegressionResult
@import org.ada.server.models.ml.regression.RegressionResult.regressionResultFormat
@import org.ada.server.models.DataSpaceMetaInfo
@import play.api.libs.json.Json
@import play.api.libs.json.JsObject
@import org.ada.web.controllers.dataset.MLRunRouter
@import org.ada.server.models.DataSetSetting

@(
    router: MLRunRouter)(
    title: String,
    item: RegressionResult,
    setting: DataSetSetting,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@jsonShow(
    title,
    Json.toJson(item).as[JsObject],
    router.plainList,
    Some(router.delete(item._id.get)),
    false,
    Map(),
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs(setting))
)