@import org.incal.play.routes.CustomDirAssets

@(useBoost: Boolean = false)(implicit webJarAssets: WebJarAssets)

<script src="@routes.WebJarAssets.at(webJarAssets.fullPath("highcharts", "highcharts.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.fullPath("highcharts", "/modules/exporting.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.fullPath("highcharts", "/modules/heatmap.js"))"></script>
@if(useBoost) {
    <script src="@routes.WebJarAssets.at(webJarAssets.fullPath("highcharts", "/modules/boost.js"))"></script>
    <script src="@routes.WebJarAssets.at(webJarAssets.fullPath("highcharts", "/modules/boost-canvas.js"))"></script>
}
<script src="@routes.WebJarAssets.at(webJarAssets.fullPath("highcharts", "/highcharts-more.js"))"></script>
<script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/ada-highcharts.js")"></script>
<script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/ada-widgets.js")"></script>