@import org.ada.web.util.{shorten, toChartData}
@import org.ada.web.models.ScatterWidget

@(
    elementId: String,
    widget: ScatterWidget[_, _]
)

<script type="text/javascript">
    $(function () {
        var isXDate = @{widget.data.headOption.flatMap(_._2.headOption.map(_._1.isInstanceOf[java.util.Date])).getOrElse(false)};
        var isYDate = @{widget.data.headOption.flatMap(_._2.headOption.map(_._2.isInstanceOf[java.util.Date])).getOrElse(false)};

        var xDataType = (isXDate) ? 'datetime' : null;
        var yDataType = (isYDate) ? 'datetime' : null;

        var datas = [@toChartData(widget).map { singleSeries => {name: '@shorten(singleSeries._1)', data: [@singleSeries._2.map { case (x, y) => [@x, @y], }]}, }];

        scatterChart('@widget.title', '@{elementId}', '@{widget.xAxisCaption}', '@{widget.yAxisCaption}',
            datas, true, null, @{widget.displayOptions.height.getOrElse(400)}, xDataType, yDataType, false, false
        )
    });
</script>