@import views.html.layout
@import views.html.table.paginatedTable
@import views.html.dataset.datasetMenu
@import views.html.filter.filterWithJs
@import org.ada.web.controllers.ml.routes.{ClusteringController => route}
@import org.incal.core.util.toHumanReadableCamel
@import org.ada.web.util.typeColumns
@import org.ada.server.models.{DataSpaceMetaInfo, Field, FilterShowFieldStyle}
@import org.ada.server.models.Filter
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext
@import org.incal.spark_ml.models.clustering._
@import org.incal.play.Page
@import org.incal.core.FilterCondition

@(
    page: Page[Clustering],
    conditions: Seq[FilterCondition],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit webContext: WebContext
)

@importLink(clazz: Class[_], title: String) = {
    <li>
        <a href="@route.create(clazz.getName)">
        @title
        </a>
    </li>
}

@actions = {
    <div class="row">
        <div class="col-md-10">
            @filterWithJs(
                Filter(conditions),
                route.find(),
                Left(Seq(
                    Field("name", Some("Name"))
                )),
                None,
                Some(FilterShowFieldStyle.LabelsOnly)
            )
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" title="Add Unsupervised Learning">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @importLink(classOf[KMeans], "K-Means")
                @importLink(classOf[LDA], "LDA")
                @importLink(classOf[BisectingKMeans], "Bisecting K-Means")
                @importLink(classOf[GaussianMixture], "Gaussian Mixture")
            </ul>
        </div>
    </div>
}

@table = @{
    paginatedTable(
        page,
        route.find(_, _, conditions),
        typeColumns[Clustering](
            (Some("concreteClass"), "Type", {x => toHumanReadableCamel(x.getClass.getSimpleName)}),
            (Some("name"), "Name", _.name.getOrElse("")),
            (Some("timeCreated"), "Time Created", _.timeCreated.format("yyyy-MM-dd HH:mm:ss"))
        ),
        Some({ item : Any => route.get(item.asInstanceOf[Clustering]._id.get)})
    )
}

@layout.list(
    "Clustering",
    None,
    page.total,
    Some(actions),
    Some(table),
    None,
    Some(datasetMenu(dataSpaceMetaInfos))
)