@import views.html.layout.formErrors
@import views.html.layout.main
@import org.incal.play.controllers.WebContext._
@import org.incal.play.controllers.WebContext

@(
    displayName: String,
    messagePrefix: String,
    errors: Seq[FormError],
    elements: Html,
    updateCall: Call,
    cancelCall: Call,
    deleteCall: Option[Call] = None,
    sideBar: Option[Html] = None,
    topContentBar: Option[Html] = None,
    bottomResources: Option[Html] = None,
    deleteConfirmationPrompt: Boolean = true,
    formArgs: Seq[(Symbol, String)] = Nil
)(
    implicit context: WebContext
)

@deleteSureButtons = {
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    @if(deleteCall.isDefined) {
        <button type="button" class="btn btn-default" onclick="submit('post', '@deleteCall.get'); return false;">Yes</button>
    }
}

@deleteSureModalInner = {
    <p>Are you sure you want to delete this @{displayName.toLowerCase}?</p>
}

@main(Messages("edit.title", displayName), sideBar, topContentBar, None, bottomResources, Some(formErrors(messagePrefix, errors))) {

    <div class="page-header">
        <h3>@Messages("edit.title", displayName)</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
        @helper.form(action = updateCall, formArgs: _*) {
            <fieldset>
                @elements
            </fieldset>

            <hr/>

            <div class="actions pull-right">
                <input type="submit" value="Update" class="btn btn-primary">
                <a href="@cancelCall" class="btn btn-default">Cancel</a>
                @if(deleteCall.isDefined) {
                    @if(deleteConfirmationPrompt) {
                        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteSureModalConfirmation">Delete</a>
                    } else {
                        <a href="#" class="btn btn-danger" onclick='submit("post", "@deleteCall.get")'>Delete</a>
                    }
                }
            </div>
        }
        </div>

        @modal("deleteSureModalConfirmation", "Confirmation", deleteSureModalInner, None, Some(deleteSureButtons))
    </div>
}