@import views.html.layout.main
@import play.api.i18n.Messages
@import org.ada.server.models.DataSpaceMetaInfo
@import be.objectify.deadbolt.scala.views.html.restrictOr
@import org.ada.web.util
@import views.html.elements._
@import views.html.layout
@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import org.incal.core.util.toHumanReadableCamel
@import org.ada.web.controllers.routes
@import org.incal.play.security.SecurityRole

@(
    scriptClazz: Class[_],
    output: String,
    message: String
)(
    implicit context: WebContext
)

@bottomResources = {
    <script type="text/javascript">
        $(function () {
            showMessage('@message')
        });
    </script>
}

@main(toHumanReadableCamel(scriptClazz.getSimpleName), bottomResources = Some(bottomResources)) {

    <div class="page-header">
        <h3>
            @toHumanReadableCamel(scriptClazz.getSimpleName)
        </h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            @helper.form(action = routes.RunnableController.runScript(scriptClazz.getName)) {
                @Html(output)

                <hr/>

                <div class="actions pull-right">
                    <input type="submit" value="Relaunch" autofocus class="btn btn-primary">
                    @restrictOr(roles = List(Array(SecurityRole.admin))) {
                        <a href="@routes.RunnableController.selectRunnable" class="btn btn-default">Back</a>
                    } {
                        <a href="@routes.AppController.index()" class="btn btn-default">Cancel</a>
                    }
                </div>
            }
        </div>
    </div>
}