@import be.objectify.deadbolt.scala.views.html.restrict
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import org.ada.web.controllers.routes

@(active: Int = 0)(implicit request: AuthenticatedRequest[Any])

<h2>My Profile</h2>
<ul class="nav nav-tabs">
    <!-- profile header with tabs -->
    <li @if(active==1){class="active"}><a href="@routes.UserProfileController.profile()">Home</a></li>
    <!--
    <li @if(active==2){class="active"}><a href="@routes.UserProfileController.settings()">Settings</a></li>
    -->
</ul>