@import org.incal.core.FilterCondition

@(conditions: Traversable[FilterCondition])

@valueOrUndefined(condition: FilterCondition) = @{
    val valueOrLabel =
        condition.valueLabel match {
            case Some(label) => Some(label)
            case None => condition.value
        }
    valueOrLabel match {
        case None => "undefined"
        case Some(s) if s.isEmpty => "undefined"
        case Some(s) => s
    }
}

@displayCondition(condition: FilterCondition) = @{
    condition.fieldLabelOrElseName + " " + condition.conditionType + " " + valueOrUndefined(condition)
}

@conditions.map( condition => displayCondition(condition)).mkString(" AND ")
