@import org.incal.core.FilterCondition
@import views.html.exportModal
@import views.html.elements.labelValue

@(
    exportCsvCall: (String, Seq[FilterCondition], Boolean) => Call,
    exportJsonCall: (Seq[FilterCondition], Boolean) => Call,
    conditions: Seq[FilterCondition]
)(
    extraListItems: Html = Html(""),
    extraModals: Html = Html(""),
    extraCsvElements: Html = Html(""),
    extraJsonElements: Option[Html] = None
)

@csvBody(defaultDelimiter: String) = {
    <fieldset>
        @labelValue("delimiter", "Delimiter", labelGridWidth = 3) {
            <input id="delimiter" name="delimiter" value="@defaultDelimiter">
        }
        @labelValue("replaceEolWithSpace", "Remove \'\\r\'&\'\\n\'?", false, Some("Replace \'\\r\' and \'\\n\' with white space"), labelGridWidth = 3) {
            <input type="checkbox" class="replaceEolWithSpaceCheckbox" checked="checked">
            <input type="hidden" id="replaceEolWithSpace" name="replaceEolWithSpace" value="true">
        }
        @labelValue("eol", "EOL", false, Some("If not specified standard '\\n' character will be used"), labelGridWidth = 3) {
            <input id="eol" namen="eol" value="">
        }
        @extraCsvElements
    </fieldset>
}

@exportJsonModalBody = {
    @extraJsonElements.getOrElse {
        <p>Do you want to proceed?</p>
    }
}

@exportAllModalBody = {
    <p>Are you sure you want to export the FULL data set (no filter applied) with ALL the fields?</p>
}

@exportAllCsvModalButtons = {
    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#exportAllCsvModal').modal('show');">Yes</button>
}

<div class="dropdown">
    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-toggle="modal" data-target="#exportAllConfirmationCsvModal">
                Export All as CSV
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#exportFilteredCsvModal">
                Export Filtered as CSV
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#exportFilteredTableCsvModal">
                Export Filtered Table as CSV
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="#" data-toggle="modal" data-target="#exportAllJsonModal">
                Export All as JSON
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#exportFilteredJsonModal">
                Export Filtered as JSON
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#exportFilteredTableJsonModal">
                Export Filtered Table as JSON
            </a>
        </li>
        @extraListItems
    </ul>
    @modal("exportAllConfirmationCsvModal", "Full CSV Export", exportAllModalBody, None, Some(exportAllCsvModalButtons))
    @exportModal("exportAllCsvModal", "Full CSV Export", exportCsvCall(",", Nil, false), csvBody(","))
    @exportModal("exportFilteredCsvModal", "Filtered CSV Export", exportCsvCall(",", conditions, false), csvBody(","))
    @exportModal("exportFilteredTableCsvModal", "Filtered Table CSV Export", exportCsvCall(",", conditions, true), csvBody(","))
    @exportModal("exportAllJsonModal", "Full Json Export", exportJsonCall(Nil, false), exportAllModalBody)
    @exportModal("exportFilteredJsonModal", "Filtered Json Export", exportJsonCall(conditions, false), exportJsonModalBody)
    @exportModal("exportFilteredTableJsonModal", "Filtered Table Json Export", exportJsonCall(conditions, true), exportJsonModalBody)
    @extraModals
</div>

<script type="text/javascript">
    $(function () {
        $('.replaceEolWithSpaceCheckbox').change( function(e) {
            var checked = $(this).is(":checked");
            $(this).parent().find('#replaceEolWithSpace').val(checked)
        });
    })
</script>