@import org.incal.play.util.WebUtil.matchesPath
@import play.api.i18n.Messages
@import be.objectify.deadbolt.scala.views.html.{subjectPresent, subjectPresentOr, restrict, pattern, dynamic}
@import org.incal.play.security.SecurityRole
@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import org.incal.play.routes.CustomDirAssets
@import org.ada.web.controllers.routes
@import org.ada.web.controllers.ml.{routes => mlRoutes}
@import org.ada.web.controllers.dataset.{routes => dataSetRoutes}
@import org.ada.web.controllers.dataset.dataimport.{routes => dataSetImportRoutes}
@import org.ada.web.controllers.dataset.datatrans.{routes => dataSetTransformationRoutes}

@()(implicit webContext: WebContext)

@listItem(call: Call, text: String, matchPrefixDepth: Option[Int] = None) = {
    @listItemCustom(call, matchPrefixDepth) {
        <a href="@call">@text</a>
    }
}

@listItemCustom(call: Call, matchPrefixDepth: Option[Int] = None)(element: Html) = {

    <li @if(matchesPath(call.url, toRequest.path, matchPrefixDepth, toConfiguration.getString("play.http.context"))) { class="active"} >
        @element
    </li>
}

<div class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.AppController.index()">
                <img height="35 px" src="@CustomDirAssets.versioned("images/logos/ada_logo_v3.png")"/>
            </a>
        </div>

        <div id="navigation" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @subjectPresent() {
                    @listItem(routes.AppController.dataSets(), webContext.msg("dataSets.menu"), Some(1))
                }
                @restrict(roles = List(Array(SecurityRole.admin))) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@webContext.msg("ml.menu")<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @listItem(mlRoutes.ClassifierController.find(), "Classifiers")
                            @listItem(mlRoutes.RegressorController.find(), "Regressors")
                            @listItem(mlRoutes.ClusteringController.find(), "Clusterings")
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @webContext.msg("admin.menu")<span class="caret"></span></a>
                        <ul class="dropdown-menu multi-level">
                            @listItem(dataSetImportRoutes.DataSetImportController.find(), "Data Set Imports")
                            @listItem(dataSetTransformationRoutes.DataSetTransformationController.find(), "Data Set Transformations")
                            @listItem(dataSetRoutes.DataSetSettingController.find(), "Data Set Settings")
                            @listItem(routes.HtmlSnippetController.find(), "HTML Snippets")
                            <li role="separator" class="divider"></li>
                            @listItem(routes.UserController.listAll(), "Users")
                            @listItem(routes.LdapUserController.listAll, "LDAP Users")
                            @listItem(routes.LdapUserController.settings, "LDAP Settings")

                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Actions</a>
                                <ul class="dropdown-menu">
                                    @listItemCustom(routes.AdminController.importLdapUsers()) {
                                        <a href="#" onclick="submit('post', '@routes.AdminController.importLdapUsers'); return false;">
                                            Import from LDAP
                                        </a>
                                    }
                                    @listItemCustom(routes.AdminController.lockMissingLdapUsers()) {
                                        <a href="#" onclick="submit('post', '@routes.AdminController.lockMissingLdapUsers'); return false;">
                                            Lock Missing
                                        </a>
                                    }
                                    @listItemCustom(routes.AdminController.purgeMissingLdapUsers()) {
                                        <a data-toggle="modal" data-target="#purgeMissingLdapUsersModalConfirmation">
                                            Purge Missing
                                        </a>
                                    }
                                </ul>
                            </li>

                            <li role="separator" class="divider"></li>
                            @listItem(routes.RunnableController.selectRunnable(), "Runnables")
                        </ul>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">

                @subjectPresent() {
                    <li id="linksDropdownToggle" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @webContext.msg("links.menu")<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                }

                @listItem(routes.DocumentationController.intro(), webContext.msg("docs.menu"))

                @listItem(routes.AppController.issues(), webContext.msg("issues.menu"))

                @listItem(routes.AppController.contact(), webContext.msg("contact.menu"), Some(1))

                <li>
                    <!-- show login link, if no subject present; otherwise show user dropdown list -->
                    @subjectPresentOr() {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.UserProfileController.profile()">My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@routes.AuthController.logout()">Logout&#160;&#160;&#160;<span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul>
                        </li>
                    }{
                        <a href="@routes.AuthController.login">Login&#160;&#160;&#160;<span class="glyphicon glyphicon-log-in"></span></a>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

@purgeMissingButtons = {
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-default" onclick="submit('post', '@routes.AdminController.purgeMissingLdapUsers'); return false;">Yes, Delete All Missing</button>
}

@purgeMissingModalInner = {
    <p>Are you sure you want to delete all the LDAP-missing users?</p>
    <p>Note that these users might have created artifacts such as views and filters or could still act as data set owners for historical reasons. Once removed this information (not the actual views or filters) will be irreversibly lost. Therefore we strongly recommend to use <i>Lock Missing</i> function instead.</p>
}

@modal("purgeMissingLdapUsersModalConfirmation", "Are you sure?", purgeMissingModalInner, None, Some(purgeMissingButtons))

@helper.javascriptRouter("htmlSnippetJsRoutes")(
    org.ada.web.controllers.routes.javascript.HtmlSnippetController.getHtmlLinks
)

<script type="text/javascript">
    $(function () {
        $("li.dropdown").each(function () {
            if ($(this).find("li.active").size() > 0)
                $(this).addClass("active")
        });

        $("#linksDropdownToggle").on("show.bs.dropdown", function(event) {
            var dropDown =  $("#linksDropdownToggle").find(".dropdown-menu")
            if (dropDown.children().length == 0) {
                htmlSnippetJsRoutes.org.ada.web.controllers.HtmlSnippetController.getHtmlLinks().ajax({
                    success: function (data) {
                        dropDown.html(data)
                    },
                    error: showErrorResponse
                })
            }
        });
    })
</script>