@import org.ada.server.models.Filter
@import org.ada.web.util.{conditionTypeToReadableOperator, valueOrUndefined}

@(
    filter: Option[Filter],
    filterLabel: String = "Filter"
)

<div id="conditionPanel" class="filter-part">
    <div class="filter-name-container">
        <span >@filterLabel:</span>
        <span class="filter-name">@filter.map(_.name.getOrElse(""))</span>
    </div>
    @filter.map(_.conditions).getOrElse(Nil).zipWithIndex.map { case (condition, index) =>
    <div id="condition-full@index" class="filter-part condition-full">
        <span class="condition">
            <span id="fieldLabel" class="filter-label label label-primary">@condition.fieldLabelOrElseName</span>
            <span id="conditionType" class="filter-label"><b>@conditionTypeToReadableOperator(condition.conditionType)</b></span>
            <span id="value" class="filter-label label label-primary">@valueOrUndefined(condition, trim = true)</span>
        </span>
        <span class="condition-buttons" style="display: none; padding-left: 5px">
            <button type="button" class="btn btn-sm btn-default editConditionButton">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-sm btn-default deleteConditionButton">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span>
    </div>
    }
</div>