@import org.incal.play.routes.CustomDirAssets

@()(implicit webJarAssets: WebJarAssets)

<!-- '
    Widget' part of the JQuery UI lib is sufficient for the filter JS, however for consistence we load the whole JQuery UI
    <script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/jquery-ui-1.11.4-widget.min.js")"></script>
-->
<!-- need to import css and js first -->
@typeaheadJsImport()

<script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui.min.js"))"></script>
<script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/multiFilter.min.js")"></script>
<script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/multiCategoryFilter.min.js")"></script>