@import org.incal.play.routes.CustomDirAssets

@()(implicit webJarAssets: WebJarAssets)

<script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/jstree-3.3.3.js")"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui.min.js"))"></script>
<script type="text/javascript" src="@CustomDirAssets.versioned("javascripts/jsTreeWidget.js")"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@CustomDirAssets.versioned("stylesheets/jsTree/style.css")">